doctype html
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Raspi-cam
		link(rel="stylesheet", href="css/style.css")
	body
		.container
			header
				h1 Raspi-cam
			section.main
				.images
		script(async="true", src="js/app.min.js")
